<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog_New</title>

    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js"></script>
</head>
<body>
    <div class="modify-container">
        <h1>Create a New Blog Post</h1>
        <form action="/add" method="POST">
            <label>Title:</label>
            <input autofocus placeholder="add you title here..." type="text" name="title" required><br><br>
            <label>Content:</label><br>
            <textarea placeholder="add you content here..." name="content" required></textarea><br><br>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
